
.mark{
    color: #FF8367;
}
.about-me{
    margin-left: 5%;
    width: 40%;
    padding: 1%;
    float: left;
    margin-top: 5%;
    

}
h1{
    text-transform: uppercase;
    font-size: 35px;
    line-height: 20px;
}
.hello{
    color: #363958;
}
 a {
    text-decoration: none;
    background-color:tomato;
    border-radius: 5px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: .8;
}
.about-me img{
    width: 55%;
}
h2{
    color:#363958;
    font-size: 25px;
    text-transform: uppercase;

}
.gym{
    width: 100%;
    float: left;
    padding: 5%;
    margin-left: 1%;
}
.gym img{
    width: 80%;

}
.tour{
    width: 100%;
    float: left;
    padding: 5%;
    margin-left: 1%;
    
    
}
.tour img{
    width: 80%;
}
.song{
    width: 100%;
    float: left;
    padding: 5%;
    margin-left: 1%;

    
}
.song img{
    width: 80%;
    
}
.combine{
    display: inline-block;
    background-color:white;
    height: 400px;
    width: 100%;   
    margin-top: 7%;
    
    
}
.combine h2{

    text-align: center;
    color: #363958;
}
.combine h3{
    color: #363958;
}
.combine p{
    color:#6c6c6c;
    width: 85%;
    font-size: 13px;
    text-align: justify;
}
.lastest{
    color: #F46060;
}
.gym-top{
    background-color:white;
    
    height: 80%;
    width: 25%;
    float: left;
    border-radius: 10px;
    margin-left: 2%;
}
#margin{
    margin-left: 12%;
}
.skills{
    display: inline-block;
    height: 350px;
    width: 80%;
    
    margin-top: 10%;
    background-color: white;

    
}
.skills h3{
    text-align: center;
    margin-left: 100px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}
.skills p{
    text-align: left;
    margin-left: 350px;
    font-size: 25px;
    font-style:oblique;
    color: black;
}
.hire{
    color: tomato;
}
#hand{
    width: 20%;
    
}
#html{
    width: 28%;
    margin-top: 10px;
    
}
#css{
    margin-left: 20px;
}
#js{
    position: relative;
    left:260px;
    bottom: 95px;
    width: 38%;
    
}
.html{
    width:30%;
    float: left;
    margin-left: 200px;
    position: relative;
    left: 150px;
    margin-top: 3%;
    
}
.html img{
    width: 20%;
}


.work{
    background-image: url(images/work.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 25%;
    height: 200px;
}
.work h1{
    
    padding-top: 13%;
    padding-left: 10%;
    color: whitesmoke;
    font-family: sans-serif;
}
.work a{
   
    position: relative;
    left: 75%;
    bottom: 22%;
    padding-top: 13px;
    padding-bottom: 13px;
    
}
.foot{
    width: 100%;
    height: 200px;
    background-color: white;
    text-align: center;
}
.last{
    margin-top: 5%;
    line-height: 5px;
}
h5{
    font-size: 15px;
    text-transform: uppercase;
    color: #696871;
}
.last h3{
    font-size: 30px;
    color: #363958;

}